<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">AuditYear</th>
            <th scope="col">AuditMonth</th>
            <th scope="col">Income</th>
            <th scope="col">CreditBills</th>
            <th scope="col">Bills</th>
            <th scope="col">Insurance</th>
            <th scope="col">Expenses</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let auditRecord of audit">
            <td>{{ auditRecord.compositeKey.audityear}}</td>
            <td>{{ auditRecord.compositeKey.auditmonth}}</td>
            <td>{{ auditRecord.income}}</td>
            <td>{{ auditRecord.creditbills }}</td>
            <td>{{ auditRecord.bills }}</td>
            <td>{{ auditRecord.insurance}}</td>
            <td>{{ auditRecord.expenses}}</td>
            <td>{{ auditRecord.balance }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>