<nav class="navbar navbar-expand-lg static-top"> 
    <div class="row">
        <div class="offset-sm-3 col-sm-1">
            <img src="assets/images/auditicon.png" alt="Icon" class="icon">
        </div>
        <div class=" title col-sm-2">
            <h4>MyAuditApp</h4>
        </div>
    </div>
    <div class="title offset-sm-10 col-sm-1"><h6><a href="myauditapp/register">Join</a></h6></div>
  </nav>

 
<div class="loginbox" [ngStyle]="{ backgroundImage: 'url(/assets/images/bgii.png)' }">
    <div class="row">
        <div class="col-sm-3" id="login">
            <div class="card my-5" ng-app="userDetail" ng-controller="myCtrl">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #loginformForm="ngForm">
                        <h2 class="card-title text-center py-3">Login</h2>
                        <div class="form-group">
                            <label for="emailaddr">Username<span class="asteric">*</span></label>
                            <input type="email" [(ngModel)]="loginform.emailaddr" class="form-control" id="emailaddr"
                                name="emailaddr" placeholder="Enter the username" #emailaddr="ngModel" required
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="emailaddr.invalid && (emailaddr.dirty || emailaddr.touched)">Email is invalid</div>
                        <div [hidden]="!emailaddr.pristine" *ngIf="emailaddr.dirty || emailaddr.touched" class="alert alert-danger">EmailAddress is required</div>
                        <div class="form-group">
                            <label for="password">Password<span class="asteric">*</span></label>
                            <input type="password" [(ngModel)]="loginform.password" class="form-control" id="password"
                                name="password" placeholder="Enter the password" #password="ngModel" required
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="password.invalid && (password.dirty || password.touched)">Enter eight characters, at
                            least one letter, one number and one special character</div>
                        <div [hidden]="!password.pristine" *ngIf="password.dirty || password.touched" class="alert alert-danger">Password is required</div>

                        <div class="row">
                            <div class="col-sm-2" id="loginButton">
                                <button type="submit" [disabled]="!loginformForm.form.valid"
                                    class="btn btn-info">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


