<app-appshell></app-appshell>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card  my-5">
                            <div class="card-body">
                                <h4 class="card-title text-center py-3">Your Audit is saved!</h4>
                            </div>
                        </div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>