<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="assets/auditicon.png" alt="Icon" class="icon">
                    </div>
                    <div class="col-sm-2">
                        <h3>MyAuditApp</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card  my-5">
                            <div class="card-body">
                                <h4 class="card-title text-center py-3">You have registered successfully!</h4>
                            </div>
                        </div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h6 class="offset-sm-5 col-sm-2">Please proceed to <a href="myauditapp/login">login!</a></h6>