.icon {
    width: 24px;
    height: 24px;
  }

  .asteric{
    color:red;
  }

  nav{
    background-color:black;
  }
  
  .title, a{
    color: white;
  }
  
  a:hover { 
    text-decoration: none; 
  } 
  
  a {
    cursor: pointer;
  }
  
  
  #login{
    margin-left: 38%;
  }

  #loginButton{
    margin-left: 35%;
  }

  .card{
    margin-top: 2rem!important;
  }
  
  .loginbox {
    width: 100vw;
    height: 100vh; 
    background-size: cover; 
    background-position: center;
    z-index: -1;
    position: fixed;
  }